{% load i18n %}
<!DOCTYPE html>
<html>
<style>
#cy {
  width: 800px;
  height: 800px;
  display: block;
}
</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

<title>{% trans "Process Flow" %}</title>
<body>
<h2>{% trans "Process Flow" %}</h2>

<div id="cy"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.1.1/cytoscape.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){

        var cy = cytoscape({
        container: $('#cy'),

        style: cytoscape.stylesheet()
            .selector('node')
                .css({
                    'height': 20,
                    'width': 20,
                    'background-fit': 'cover',
                    'border-color': 'green',
                    'background-color': 'green',
                    'border-width': 3,
                    'border-opacity': 0.5,
                    'font-size': 30,
                    'label': 'data(label)'
                })
            .selector('edge')
                .css({
                    'width': 6,
                    'mid-target-arrow-shape': 'triangle-backcurve',
                    'mid-target-arrow-scale': 20,
                    'line-color': '#ffaaaa',
                    'mid-target-arrow-color': '#000'
                })
            .selector('node[class="Process"]')
                .css({
                    'shape': 'ellipse',
                    'height': 20,
                    'width': 30,
                    'border-color': 'blue',
                    'background-color': 'blue'
                })
            .selector('node[class="Resource"]')
                .css({
                    'shape': 'rectangle',
                    'border-color': 'green',
                    'background-color': 'green',
                })
            .selector( 'node[class="EconomicEvent"]')
                .css({
                    'shape': 'diamond',
                    'border-color': 'orange',
                    'background-color': 'orange',
                }),

        elements: {
            nodes: [
                {% for node in nodes %}
                    { data: {id: "{{ node.sid }}", label: "{{ node.label }}", class: "{{ node.class_name }}" } },
                {% endfor %}
            ],
            edges: [
                {% for source, target in edges %}
                    { data: { source: "{{ source }}", target: "{{ target }}" } },
                {% endfor %}
            ]
        },

        layout: {
            name: 'breadthfirst',
            directed: true,
            roots: {% for r in roots %} "#{{ r.sid }}", {% endfor %}
            padding: 10
        }
        }); 
     });
</script>
</html>